.env
venv
mcp_server/.venv
*.cpython
mcp_server/unstuck_ai/__pycache__
mcp_server/__pycache__
mcp_server/uv.lock
mcp_server/__pycache__/unstuck_with_nostr_working.cpython-312.pyc
mcp_server/uv.lock
mcp_server/__pycache__/unstuck_with_nostr_working.cpython-312.pyc
frontend/node_modules
frontend/.next
mcp_server/__pycache__/unstuck_with_nostr_working.cpython-312.pyc
