.env
venv
mcp_server/.venv
mcp_server/__pycache__/
*.cpython
mcp_server/unstuck_ai/__pycache__
mcp_server/__pycache__
mcp_server/uv.lock
mcp_server/__pycache__/unstuck_with_nostr_working.cpython-312.pyc
mcp_server/uv.lock
mcp_server/__pycache__/unstuck_with_nostr_working.cpython-312.pyc
frontend/node_modules
frontend/.next
mcp_server/__pycache__/unstuck_with_nostr_working.cpython-312.pyc
mcp_server/uv.lock

mcp_server/__pycache__/unstuck_with_nostr_working.cpython-312.pyc
Presidio Bitcoin Hackathon Finalist Presentations \[1BdxYqWpdgXxX].mp4
docs/final_presentation_and_QnA.mp4
.DS_Store

agents/cua/trajectories
agents/goose-docker/workspace