# Nostr private key in hex format
NOSTR_PRIVATE_KEY=nsec15s2pmh09wm9fafef5gu4ux7e9nv3rl3nurtltk3e2yyrrgrgdlqsyfep8c

# Comma-separated list of Nostr relay URLs
RELAY_URLS=wss://relay.damus.io,wss://relay.nostr.band,wss://relay.primal.net,wss://relay.dvmdash.live

# Server configuration
PORT=8000
HOST=0.0.0.0
